In [1]:
import pandas as pd
import numpy as np

C:\Users\hp\AppData\Local\Temp\ipykernel_10916\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df1=pd.read_csv('Prediction1.csv')
df1.head()

   Month  RAKE TO                          COMMODITY  IMWB READING
0      5  TSL,JSR                    COAL NEWZEALAND       3373.54
1      5  TSL,JSR                        COAL SS IPC       3468.67
2      5  TSL,JSR                        COAL SS IPC       3341.74
3      5  TSL,JSR  COAL SS IPC/NEWZEALAND/OAKY NORTH       3364.20
4      5   HALDIA                    COAL-OAKY NORTH       3391.11

In [3]:
total_rows = df1.shape[0]
total_rows

1515

In [4]:
missing_values = df1.isna().sum()
print(missing_values)

Month           0
RAKE TO         0
COMMODITY       1
IMWB READING    1
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df1['RAKE TO NUM'] = label_encoder.fit_transform(df1['RAKE TO'])
df1['COMMODITY TO NUM'] = label_encoder.fit_transform(df1['COMMODITY'])
df1

,Month,RAKE TO,COMMODITY,IMWB READING,RAKE TO NUM,COMMODITY TO NUM
0,5,"TSL,JSR",COAL NEWZEALAND,3373.54,41,43
1,5,"TSL,JSR",COAL SS IPC,3468.67,41,45
2,5,"TSL,JSR",COAL SS IPC,3341.74,41,45
3,5,"TSL,JSR",COAL SS IPC/NEWZEALAND/OAKY NORTH,3364.20,41,46
4,5,HALDIA,COAL-OAKY NORTH,3391.11,12,47
...,...,...,...,...,...,...
1510,5,Adani Enterprises,Steam Coal,3660.24,3,250
1511,5,VISA RESOURCES,NON COKING,3212.83,51,192
1512,5,Adhunik Alloys,NON COKING,3458.44,4,192
1513,5,"TSL,JSR",JELLINBAH PCI/CURRAGH HCC,3408.65,41,157
1514,5,Adani Enterprises,Steam Coal,3662.81,3,250

In [6]:
df1= df1.drop('RAKE TO', axis=1) 
df1= df1.drop('COMMODITY', axis=1)

In [7]:
df1['Load per wagon'] = pd.to_numeric(df1['Load per wagon'], errors='coerce')
df1['ACTUAL TIME TAKEN FOR LOADING'] = pd.to_numeric(df1['ACTUAL TIME TAKEN FOR LOADING'], errors='coerce')
df1['DIESEL LOCO DECOUPLING DURATION'] = pd.to_numeric(df1['DIESEL LOCO DECOUPLING DURATION'], errors='coerce')
df1

KeyError: 'Load per wagon'

In [ ]:
X = df1.drop('IMWB READING', axis=1)

Y=df1['IMWB READING']

In [ ]:
nan_values = df1[df1.isna().any(axis=1)]
nan_values

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)
model = LinearRegression()
model.fit(X_train, Y_train)
model.score(X_test,Y_test)

In [ ]:
total_labels1 = df1['RAKE TO NUM'].nunique()

print("Total number of RAKE TO label-encoded values:", total_labels1)
total_labels2 = df1['COMMODITY TO NUM'].nunique()

print("Total number of COMMODITY label-encoded values:", total_labels2)

count_encoded_values1 = df1['RAKE TO NUM'].value_counts()

print(count_encoded_values1)

count_encoded_values2 = df1['COMMODITY TO NUM'].value_counts()

print(count_encoded_values2)